@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2 class="text-white">Manage your account</h2>

<div class="text-white">
    <h4>Change your account settings</h4>
    <hr class="text-white"/>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
<footer class=" blockquote-footer text-center">
    <div class="container">
        <br />
        &copy;2020 Raid Group Finder | All Rights Reserved
        @*<a asp-area="" asp-page="Privacy">Privacy</a>*@
        <br />
        Pokémon And All Respective Names are Trademark & © of Nintendo 1996-2020
        <br />
        Pokémon GO is Trademark & © of Niantic, Inc.
        <br />
        This Raid Group Finder is not affiliated with Niantic Inc., The Pokemon Company, or Nintendo.
    </div>
</footer>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
