@inject IJSRuntime JSRuntime

    <div class="comment">
        <div class="form-inline text-white">
            <button type="button" class="btn btn-cpy float-right" @onclick="CopyTextToClipboard"><img src="/icons/copy.svg"></button>
            @Text
        </div>
    </div>

    @code {
        [Parameter] public string Text { get; set; }

        private async Task CopyTextToClipboard()
        {
            await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Text);
        }
    }
