<h5 class="ui center aligned header text-white">
    Pokemon GO Remote Raid Finder<br />
    Find players to do remote raids with!<br />
    Add trainers and invite them to raids!<br />
    Add your trainer code to the list so other pokemon go players can invite you!
</h5>

@code {

}
