@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using RaidGroupFinder.Data.Model
@using System.Text.RegularExpressions
@using RaidGroupFinder.Data
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DbService DbService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager

<MainMessage></MainMessage>
<div class="two ui buttons">
    <button class="ui orange button" @onclick="RaidRoom">Host a Raid</button>
    <button class="ui btn-primary button">Tainer Codes List</button>
</div>
<div class="ui stackable two column grid">
    <div class="column text-white">
        <h3> Active Raids</h3>
        @if (RaidBattles != null)
        {
            foreach (var rb in RaidBattles)
            {
                string iconPath;
                if (rb.Raid.Pokemon.Form == "normal")
                {
                    iconPath = $"/icons/pokemon64x64/{rb.Raid.Pokemon.Number}.png";
                }
                else
                {
                    iconPath = $"/icons/pokemon64x64/{rb.Raid.Pokemon.Name}-{rb.Raid.Pokemon.Form}.png";
                }
                <RaidCard RaidBattle="@rb" IconPath="@iconPath" OffSet="@Offset"></RaidCard>
            }
        }
    </div>
    <div class="column text-white">
        <h3> Last Raids</h3>
    </div>
</div>

@code{
    private List<RaidBattle> RaidBattles;
    private TimeSpan Offset;
    private HubConnection hubConnection;
    public void RaidRoom()
    {
        NavigationManager.NavigateTo("/create-raid");
    }

    protected override async Task OnInitializedAsync()
    {
        RaidBattles = await DbService.GetActiveRaidBattles();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/raidhub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<RaidBattle>("ReceiveMessage", (raid) =>
        {
            RaidBattles.Add(raid);
            StateHasChanged();
        });

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            StateHasChanged();
            return;
        }
        string id = user.Claims.Where(p => p.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier").Select(p => p.Value).FirstOrDefault();
        ApplicationUser currentUser = await UserManager.GetUserAsync(user);
        Offset = TimeZoneInfo.FindSystemTimeZoneById(currentUser.TimeZone).BaseUtcOffset;
        StateHasChanged();
    }
}