@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using RaidGroupFinder.Data
@using System.Text.RegularExpressions
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject FixedSizedQueueService FixedSizedQueueService

<h5 class="ui center aligned header">
    Pokemon GO Remote Raid Finder<br />
    Find players to do remote raids with!<br />
    Add trainers and invite them to raids!<br />
    Add your trainer code to the list so other pokemon go players can invite you!
</h5>
<div class="ui stackable three column grid">
    <div class="column"></div>
    <div class="column">
        <div class="ui grid bg-white">
            <img src="/icons/kyurem_tiny.png" class="five wide column bg-img">
            <div class="bg-indianred eleven wide column">
                <div class="header">
                    <a class="text-white text-xl-left">Kyurem</a>
                    <div class="float-right">
                        <img src="/icons/raid-icon.png" class="raid-icon" />
                        <img src="/icons/raid-icon.png" class="raid-icon" />
                        <img src="/icons/raid-icon.png" class="raid-icon" />
                        <img src="/icons/raid-icon.png" class="raid-icon" />
                        <img src="/icons/raid-icon.png" class="raid-icon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>