@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using RaidGroupFinder.Data
@using System.Text.RegularExpressions
@inject IJSRuntime JSRuntime

<MainMessage></MainMessage>
<div class="two ui buttons">
    <button class="ui orange button">Host a Raid</button>
    <button class="ui btn-primary button">Tainer Codes List</button>
</div>
<div class="ui stackable two column grid">
    <div class="column text-white">
        <h3> Active Raids</h3>
        <RaidCard></RaidCard>
        <RaidCard></RaidCard>
        <RaidCard></RaidCard>
    </div>
    <div class="column text-white">
        <h3> Last Raids</h3>
        <RaidCard></RaidCard>
        <RaidCard></RaidCard>
    </div>
</div>

@code{
}